@mixin SectionTopHeading {
  margin: 0;
  font-family: var(---SectionTopHeadingFontFamily);
  font-size: var(--SectionTopHeadingFontSize);
  font-weight: var(--SectionTopHeadingFontWeight);
  color: var(--SectionTopHeadingFontColor);
  line-height: var(--SectionTopHeadingLineHeight);
  text-align: center;
  font-style: normal;
}

@mixin SectionHeading {
  margin: 0;
  font-family: var(---SectionHeadingFontFamily);
  font-size: var(--SectionHeadingFontSize);
  font-weight: var(--SectionHeadingFontWeight);
  color: var(--SectionHeadingFontColor);
  line-height: var(--SectionHeadingLineHeight);
  text-align: center;
  font-style: normal;
  text-transform: capitalize;
}
