@mixin SectionTopHeading {
  margin: 0;
  font-family: var(---SectionTopHeadingFontFamily);
  font-size: var(--SectionTopHeadingFontSize);
  font-weight: var(--SectionTopHeadingFontWeight);
  color: var(--SectionTopHeadingFontColor);
  line-height: var(--SectionTopHeadingLineHeight);
  text-align: center;
  font-style: normal;
}

@mixin SectionHeading {
  margin: 0;
  font-family: "Volkhov";
  font-size: var(--SectionHeadingFontSize);
  font-weight: var(--SectionHeadingFontWeight);
  color: var(--SectionHeadingFontColor);
  line-height: var(--SectionHeadingLineHeight);
  text-align: center;
  font-style: normal;
  text-transform: capitalize;
}

@mixin FeatureCard {
  margin: 0;
  font-family: var(--FeatureCardFontFamily);
  font-size: var(--FeatureCardFontSize);
  font-style: var(--FeatureCardFontStyle);
  color: var(--FeatureCardFontColor);
  line-height: var(--FeatureCardLineHeight);
}

@mixin TripCard {
  font-family: var(--FeatureCardFontFamily);
  font-style: var(--FeatureCardFontStyle);
  font-weight: var(--TripCardFontWeight);
  line-height: var(--FeatureCardLineHeight);
}

@mixin HoverCard {
  margin: 0;
  font-family: var(--FeatureCardFontFamily);
  font-style: var(--FeatureCardFontStyle);
  font-weight: var(--TripCardFontWeight);
  line-height: var(--FeatureCardLineHeight);
}

@mixin SubscribeButton {
  margin: 0;
  width: 180px;
  height: 68px;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  padding: 22px 50px;
  font-family: var(--OpenSansFontFamily);
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}
