:root {
  --FeatureCardFontFamily: "Poppins";
  --FeatureCardFontSize: 16px;
  --FeatureCardFontStyle: "normal";
  --FeatureCardFontColor: #5e6282;
  --FeatureCardLineHeight: 124.5%;
  --TripCardFontWeight: 500;
}

.Booking {
  margin-top: 186px;
  padding-left: 46px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Booking__LeftSide__SectionTopHeading {
  margin: 0;
  font-family: var(---SectionTopHeadingFontFamily);
  font-size: var(--SectionTopHeadingFontSize);
  font-weight: var(--SectionTopHeadingFontWeight);
  color: var(--SectionTopHeadingFontColor);
  line-height: var(--SectionTopHeadingLineHeight);
  text-align: center;
  font-style: normal;
  text-align: start;
}
.Booking__LeftSide__SectionHeading {
  margin: 0;
  font-family: "Volkhov";
  font-size: var(--SectionHeadingFontSize);
  font-weight: var(--SectionHeadingFontWeight);
  color: var(--SectionHeadingFontColor);
  line-height: var(--SectionHeadingLineHeight);
  text-align: center;
  font-style: normal;
  text-transform: capitalize;
  text-align: start;
  margin-top: 15px;
}
.Booking__LeftSide__Feature {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Booking__LeftSide__Feature__Card {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 4.22%;
  justify-content: center;
  margin-bottom: 48px;
}
.Booking__LeftSide__Feature__Card__Body__Title {
  margin: 0;
  font-family: var(--FeatureCardFontFamily);
  font-size: var(--FeatureCardFontSize);
  font-style: var(--FeatureCardFontStyle);
  color: var(--FeatureCardFontColor);
  line-height: var(--FeatureCardLineHeight);
  font-weight: 700;
  margin-bottom: 4px;
}
.Booking__LeftSide__Feature__Card__Body__Description {
  margin: 0;
  font-family: var(--FeatureCardFontFamily);
  font-size: var(--FeatureCardFontSize);
  font-style: var(--FeatureCardFontStyle);
  color: var(--FeatureCardFontColor);
  line-height: var(--FeatureCardLineHeight);
  font-weight: 400;
}
.Booking__RightSide {
  position: relative;
}
.Booking__RightSide__TripCard {
  margin: 78px 115px 14px 118px;
  padding: 20px 24px 31px 25px;
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 400px;
  border-radius: 24px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  box-shadow: 117px -71px 75px -31px rgba(89, 177, 230, 0.4);
  -webkit-box-shadow: 117px -71px 75px -31px rgba(89, 177, 230, 0.4);
  -moz-box-shadow: 117px -71px 75px -31px rgba(89, 177, 230, 0.4);
}
.Booking__RightSide__TripCard__Body__Title {
  font-family: var(--FeatureCardFontFamily);
  font-style: var(--FeatureCardFontStyle);
  font-weight: var(--TripCardFontWeight);
  line-height: var(--FeatureCardLineHeight);
  font-size: 18px;
  letter-spacing: 0.015em;
  color: #080809;
  margin-top: 26px;
  margin-bottom: 13px;
}
.Booking__RightSide__TripCard__Body__Description {
  display: flex;
  font-family: var(--FeatureCardFontFamily);
  font-style: var(--FeatureCardFontStyle);
  font-weight: var(--TripCardFontWeight);
  line-height: var(--FeatureCardLineHeight);
  font-size: 16px;
  letter-spacing: -0.005em;
  color: #84829a;
  margin-bottom: 21px;
  gap: 13px;
}
.Booking__RightSide__TripCard__Body__Icon {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  gap: 15px;
  padding-left: 3px;
}
.Booking__RightSide__TripCard__Body__Interest {
  display: grid;
  grid-template-columns: 0.1fr 3fr 0.1fr;
  gap: 15px;
  margin-top: 29px;
}
.Booking__RightSide__HoverCard {
  position: absolute;
  top: 660%;
  right: 0;
  left: 69%;
  display: grid;
  gap: 12px;
  grid-template-columns: 0.3fr 2fr;
  width: 263px;
  margin: 0;
  padding: 17px 0 22px 7px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
}
.Booking__RightSide__HoverCard__Body__Title {
  margin: 0;
  font-family: var(--FeatureCardFontFamily);
  font-style: var(--FeatureCardFontStyle);
  font-weight: var(--TripCardFontWeight);
  line-height: var(--FeatureCardLineHeight);
  font-size: 14px;
  letter-spacing: -0.035em;
  color: #84829a;
  margin-bottom: 6px;
}
.Booking__RightSide__HoverCard__Body__Description {
  margin: 0;
  font-family: var(--FeatureCardFontFamily);
  font-style: var(--FeatureCardFontStyle);
  font-weight: var(--TripCardFontWeight);
  line-height: var(--FeatureCardLineHeight);
  font-size: 18px;
  letter-spacing: -0.015em;
  color: #080809;
  margin-bottom: 14px;
}
.Booking__RightSide__HoverCard__Body__Progress {
  margin: 0;
  font-family: var(--FeatureCardFontFamily);
  font-style: var(--FeatureCardFontStyle);
  font-weight: var(--TripCardFontWeight);
  line-height: var(--FeatureCardLineHeight);
  font-size: 14px;
  letter-spacing: -0.055em;
  color: #8a79df;
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */