@use "../../Assets/SCSS/style.scss" as HeadingStyle;

:root {
  --FeatureCardFontFamily: "Poppins";
  --FeatureCardFontSize: 16px;
  --FeatureCardFontStyle: "normal";
  --FeatureCardFontColor: #5e6282;
  --FeatureCardLineHeight: 124.5%;
  --TripCardFontWeight: 500;
}

.Booking {
  position: relative;
  margin-top: 186px;
  padding-left: 46px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  &__LeftSide {
    &__SectionTopHeading {
      @include HeadingStyle.SectionTopHeading;
      text-align: start;
    }
    &__SectionHeading {
      @include HeadingStyle.SectionHeading;
      text-align: start;
      margin-top: 15px;
    }
    &__Feature {
      margin-top: 31px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__Card {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 4.22%;
        justify-content: center;
        margin-bottom: 48px;

        &__Body {
          &__Title {
            @include HeadingStyle.FeatureCard;
            font-weight: 700;
            margin-bottom: 4px;
          }
          &__Description {
            @include HeadingStyle.FeatureCard;
            font-weight: 400;
          }
        }
      }
    }
  }

  &__RightSide {
    &__TripCard {
      margin: 78px 115px 14px 118px;
      padding: 20px 24px 31px 25px;
      display: flex;
      flex-direction: column;
      height: 400px;
      border-radius: 24px;
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481),
        117px -71px 75px -31px rgba(89, 177, 230, 0.4);

      //   background: #59b1e6;
      //   opacity: 0.8;
      //   filter: blur(75px);

      &__Body {
        &__Title {
          @include HeadingStyle.TripCard;
          font-size: 18px;
          letter-spacing: 0.015em;
          color: #080809;
          margin-top: 26px;
          margin-bottom: 13px;
        }
        &__Description {
          display: flex;
          @include HeadingStyle.TripCard;
          font-size: 16px;
          letter-spacing: -0.005em;
          color: #84829a;
          margin-bottom: 21px;
          gap: 13px;
        }
        &__Icon {
          display: grid;
          grid-template-columns: 0.1fr 0.1fr 0.1fr;
          gap: 15px;
          padding-left: 3px;
        }
        &__Interest {
          display: grid;
          grid-template-columns: 0.1fr 3fr 0.1fr;
          gap: 15px;
          margin-top: 29px;
        }
      }
    }
    &__HoverCard {
      position: absolute;
      top: 52%;
      right: 3%;
      display: grid;
      gap: 12px;
      grid-template-columns: 0.3fr 2fr;
      width: 263px;
      margin: 0;
      padding: 17px 0 22px 7px;
      background: #ffffff;
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
      border-radius: 18px;

      &__Body {
        &__Title {
          @include HeadingStyle.HoverCard;
          font-size: 14px;
          letter-spacing: -0.035em;
          color: #84829a;
          margin-bottom: 6px;
        }
        &__Description {
          @include HeadingStyle.HoverCard;
          font-size: 18px;
          letter-spacing: -0.015em;
          color: #080809;
          margin-bottom: 14px;
        }
        &__Progress {
          @include HeadingStyle.HoverCard;
          font-size: 14px;
          letter-spacing: -0.055em;
          color: #8a79df;
          margin-bottom: 10px;
        }
      }
    }
  }
}
