@use "../../Assets/SCSS/style.scss" as ButtonStyle;

.Subscribe {
  margin-top: 158px;
  width: 1170px;
  height: 407px;
  background: #dfd7f9;
  //   opacity: 0.2;
  border-radius: 20px 129px 20px 20px;
  //   transform: matrix(-1, 0, 0, 1, 0, 0);
  &__Description {
    padding: 78px 155px;

    &__Title {
      margin: 0;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 33px;
      line-height: 164%;

      /* or 164% */
      text-align: center;

      color: #5e6282;
    }
    &__Area {
      margin: 0;
      margin-top: 74px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;

      &__InputField {
        //   padding: 25px 31px;
        width: 421px;
        height: 68px;
        background: #ffffff;
        border-radius: 10px;
        background-image: url("../../Assets/images/Mail.png");
        background-repeat: no-repeat;
        background-size: 31px;
        border: 1px solid #39425d;
        position: left;
        padding-left: 31px;
      }
      &__Button {
        @include ButtonStyle.SubscribeButton;
      }
    }
  }
}
