:root {
  --CardTitleFontFamily: "Open Sans";
  --CardTitleFontSize: 20px;
  --CardTitleFontWeight: 600;
  --CardTitleFontStyle: "normal";
  --CardTitleFontColor: #1e1d4c;
  --CardTitleLineHeight: 27px;
  --CardDetailsFontColor: #5e6282;
  --CardDetailsLineHeight: 26px;
  --CardTextAlign: "center";
}
.Category {
  &__SectionTopHeading {
    margin: 0;
    margin-top: 8px;
    font-family: var(---SectionTopHeadingFamily);
    font-size: var(--SectionTopHeadingFontSize);
    font-weight: var(--SectionTopHeadingFontWeight);
    color: var(--SectionTopHeadingFontColor);
    line-height: var(--SectionTopHeadingLineHeight);
    text-align: center;
  }
  &__SectionHeading {
    margin: 0;
    margin-top: 10px;
    font-family: var(---SectionHeadingFamily);
    font-size: var(--SectionHeadingFontSize);
    font-weight: var(--SectionHeadingFontWeight);
    color: var(--SectionHeadingFontColor);
    line-height: var(--SectionHeadingLineHeight);
    text-align: center;
  }
  &__Services {
    margin-top: 108px;
    margin-left: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 14px;
    gap: 118px;
    justify-content: center;
    align-items: center;
  }
  &__Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 229px;

    &__Image {
      margin: 0;
      height: 90px;
      width: 90px;
    }

    &__Title {
      margin: 0;
      margin-top: 30px;
      font-family: var(--CardTitleFontFamily);
      font-size: var(--CardTitleFontSize);
      font-weight: var(--CardTitleFontWeight);
      font-style: var(--CardTitleFontStyle);
      color: var(--CardTitleFontColor);
      line-height: var(--CardTitleLineHeight);
      text-align: var(--CardTextAlign);
    }

    &__Description {
      margin: 0;
      margin-top: 15px;
      font-family: var(--CardDetailsFontFamily);
      font-size: var(--CardDetailsFontSize);
      font-weight: var(--CardDetailsFontWeight);
      font-style: var(--CardDetailsFontStyle);
      color: var(--CardDetailsFontColor);
      line-height: var(--CardDetailsLineHeight);
      text-align: var(--CardTextAlign);
    }
  }
  &__Card:hover {
    // width: 267px;
    // height: 314px;
    background: #ffffff;
    box-shadow: 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
  }
}
