.Navbar {
  display: grid;
  // margin: 10px 9.722%;
  padding-top: 48px;
  margin-bottom: 18px;
  grid-template-columns: 1fr 2.5fr;
  color: var(--TopHeadingFontColor);
  font-family: var(--NavbarFontFamily);
  font-size: var(--NavbarFontSize);
  font-weight: var(--NavbarFontWeight);

  &__MenuItem {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      margin: 0 2%;
    }
    &__SignupButton {
      border: 1px solid #212832;
      border-radius: 5px;
      max-width: 102px;
      padding: 9px 2.78%;
    }
    &__Language {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
