:root {
  --NavbarFontFamily: "Open Sans";
  --NavbarFontWeight: 400;
  --NavbarFontSize: 17px;
  --TextFontSize: 16px;
  --TopHeadingFontSize: 50px;
  --TopHeadingFontWeight: 700;
  --TopHeadingFontColor: #14183e;
  --CardDetailsFontFamily: "Poppins";
  --CardDetailsFontSize: 16px;
  --CardDetailsFontWeight: 500;
}
