:root {
  --NavbarFontFamily: "Open Sans";
  --NavbarFontWeight: 400;
  --NavbarFontSize: 17px;
  --TextFontSize: 16px;
  --SectionTopHeadingFontFamily: "Poppins";
  --SectionTopHeadingFontSize: 18px;
  --SectionTopHeadingFontWeight: 600;
  --SectionTopHeadingFontColor: #5e6282;
  --SectionTopHeadingLineHeight: 27px;
  --SectionHeadingFontFamily: "Volkhov";
  --SectionHeadingFontSize: 50px;
  --SectionHeadingFontWeight: 700;
  --SectionHeadingFontColor: #14183e;
  --SectionHeadingLineHeight: 64px;
  --CardDetailsFontFamily: "Poppins";
  --CardDetailsFontSize: 16px;
  --CardDetailsFontWeight: 500;
  --PoppinsFontFamily: "Poppins";
  --OpenSansFontFamily: "Open Sans";
  --VolkhovFontFamily: "Volkhov";
}

.Homepage__Wrapper {
  // background: url("../../Assets/images/Banner\ Background.png");
  // background-repeat: no-repeat;
  // position: absolute;
  // right: 0;
  // margin: 10px 9.722%;
  padding: 0 9.722%;
}
